{% extends "base.html" %}
{% block title %}Predictions Site{% endblock %}
{% block content %}
<h1>test</h1>
{% endblock %}









<!--<html>-->
<!--<head>-->
<!--    <title>Dash App</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>Home Page</h1>-->
<!--        {% for x in content %}-->
<!--            <p>{{x}}</p>-->
<!--            {% if x == 'tim' %}-->
<!--                <p>poo</p>-->
<!--            {% endif %}-->
<!--        {% endfor %}-->

<!--    </body>-->
<!--</html>-->

<!--&lt;!&ndash;<form action="/submit" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="name">Name:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="name" name="name"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="email">Email:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="email" id="email" name="email"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="submit" value="Submit">&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->